<app-header></app-header>
<section>
  <div
    class="jubomtron"
    style="
      background: url('../../assets/img/career-bg.svg') no-repeat center center;
      height: 79vh;
    "
  >
    <div class="px-5">
      <div class="row ps-0 ps-md-4">
        <div class="col-md-10 col-12">
          <div class="cover-cove">
            <span> We are the employer of Choice </span>
            <img
              src="../../assets/img/cover-upward.svg"
              class="roller-cove"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="mb-5">
  <div class="container">
    <div class="row">
      <div class="text-left align-self-center py-5 my-auto">
        <h2 class="">
          <strong>Join Our Amazing Team</strong>
        </h2>
      </div>
      <p>
        We are a team of resilient, hard-working people who are goal-getters and
        best described as warriors. At Addosser, we promote an enabling
        environment for respect and growth and that’s why we easily attract and
        retain the best hands in the industry.
        <br /><br />
        Our institution is highly result-driven; we never fail to recognize and
        reward outstanding employees. Our people are our greatest assets and we
        ensure they feel valued and appreciated all the time. If you are
        disciplined, innovative, hardworking and looking to work with a team of
        talented individuals, kindly submit your details below or send an email
        to careers@addosser.com for more enquiries.
      </p>
    </div>
  </div>
</section>
<section class="mb-5">
  <div class="container">
    <div class="row">
      <div class="px-5">
        <div class="text-left align-self-center py-5 my-auto">
          <h2 class="">
            <strong>Provide your details</strong>
          </h2>
        </div>
        <form action="">
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="mb-3">
                <label for="Name" class="form-label">Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="Name"
                  placeholder="Your name"
                />
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="mb-3">
                <label for="dob" class="form-label">Date of Birth</label>
                <input
                  type="date"
                  class="form-control"
                  id="dob"
                  placeholder=""
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="mb-3">
                <label for="Gender" class="form-label">Gender</label>
                <select
                  class="form-select"
                  id="Gender"
                  aria-label="Select Gender"
                >
                  <option selected>Select Gender</option>
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                </select>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="mb-3">
                <label for="Role" class="form-label">Current Role</label>
                <input
                  type="text"
                  class="form-control"
                  id="Role"
                  placeholder=""
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="mb-3">
                <label for="currentRole" class="form-label"
                  >Number of Years on Current Role</label
                >
                <input
                  type="number"
                  class="form-control"
                  id="currentRole"
                  placeholder=""
                />
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="mb-3">
                <label for="currentWorkplace" class="form-label"
                  >Current Workplace</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="currentWorkplace"
                  placeholder=""
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="mb-3">
                <label for="Upload" class="form-label">Upload CV</label>
                <input
                  type="file"
                  class="form-control"
                  id="Upload"
                  placeholder=""
                />
              </div>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-12 col-md-6">
              <button type="button" class="btn btn-lg btn-gold">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
