<app-header></app-header>

<section>
  <div
    class="jubomtron"
    style="
      background: url('../../assets/img/journey.svg') no-repeat center
        center;
      height: 79vh;
    "
  >
    <div class="container">
      <div class="row ps-0 ps-md-4">
        <div class="col-md-7 col-12">
          <div class="cover-cove">
            <span> Our Journey </span>
            <img
              src="../../assets/img/cover-upward.svg"
              class="roller-cove"
              alt=""
            />
            <small>
              Addosser Microfinance bank has a long and storied history in the
              world of banking. We have taken innovative steps to be where we
              are today. We are very proud of our achievements and all the
              people who led us here.
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="body">
  <div class="container">
    <div class="row">
      <div class="text-left align-self-center py-5 my-auto">
        <h2 class="">
          <strong>Company History</strong>
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="row mb-5">
          <div class="col-2" style="width: fit-content">
            <div class="timeline">
              <div class="box">2008</div>
              <span class="one"></span>
            </div>
          </div>
          <div class="col">
            <div class="history-content">
              <h3>Started Operation as a unit state licensed MFB</h3>
              <small>
                This was the time when we started our company. We had no idea
                how far we would go, we weren’t even sure that we would be able
                to survive for a few years. What drove us to start the company
                was the understanding that we could provide a service to cater
                for the under-served market- MSMEs.
              </small>
            </div>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-2" style="width: fit-content">
            <div class="timeline">
              <div class="box">2010</div>
              <span class="two"></span>
            </div>
          </div>
          <div class="col">
            <div class="history-content">
              <h3>Our Unit License was upgraded to a State License</h3>
              <small>
                This was first period when Addosser MFB actually felt like it
                would stick around for a while. We realized we were growing more
                stable and expanding at the same time. We needed another branch
                as we had realized the vast opportunity in other markets.
              </small>
            </div>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-2" style="width: fit-content">
            <div class="timeline">
              <div class="box">2013</div>
              <span class="three"></span>
            </div>
          </div>
          <div class="col">
            <div class="history-content">
              <h3>First recognition</h3>
              <small>
                By this time we were a well known name within the industry. We
                had been prominent members of the industry for more than 6 years
                and worked for some of the biggest clients in the industry; we
                weren’t dismissed by anyone.
              </small>
            </div>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-2" style="width: fit-content">
            <div class="timeline">
              <div class="box">2018</div>
              <span class="four"></span>
            </div>
          </div>
          <div class="col">
            <div class="history-content">
              <h3>Addosser at 10</h3>
              <small>
                At this time we have survived 10 years in the industry, our
                journey has only brought us higher. We are rated one of the top
                5 Microfinance banks in Lagos and top 20 in Nigeria and have
                over 66,000 customers with a balance sheet size of over 4
                billion Naira and over 200 dedicated staff.
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
