<app-header></app-header>
<section>
  <div
    class="jubomtron"
    style="
      background: url('../../assets/img/whistle-bg.svg') no-repeat center center;
      height: 79vh;
    "
  >
    <div class="px-5">
      <div class="row ps-0 ps-md-4">
        <div class="col-md-10 col-12">
          <div class="cover-cove">
            <span> Whistle Blower Form </span>
            <img
              src="../../assets/img/cover-upward.svg"
              class="roller-cove"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="mb-5 mt-5">
  <div class="container">
    <div class="row">
      <p>
        Addosser Microfinance Bank operates within highly defined ethical
        parameters, should you notice any unethical practice, do not hesitate to
        make a formal complaint by filling the form below or send an email to
        <a style="color: inherit;" href="mailto:whistleblower@addosser.com">whistleblower@addosser.com</a>.
      </p>
    </div>
  </div>
</section>
<section class="mb-5">
  <div class="container">
    <div class="row">
      <div class="px-5">
        <div class="text-left align-self-center py-5 my-auto">
          <h2 class="">
            <strong>Provide your details</strong>
          </h2>
        </div>
        <form action="">
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="mb-3">
                <label for="Name" class="form-label">Full Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="Name"
                  placeholder="Your name"
                />
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="mb-3">
                <label for="dob" class="form-label">Email</label>
                <input
                  type="email"
                  class="form-control"
                  id="dob"
                  placeholder=""
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="mb-3">
                <label for="Complaint" class="form-label">Complaint Type</label>
                <input
                  type="text"
                  class="form-control"
                  id="Complaint"
                  placeholder=""
                />
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="mb-3">
                <label for="Phone" class="form-label">Phone number</label>
                <input
                  type="tel"
                  class="form-control"
                  id="Phone"
                  placeholder=""
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="mb-3">
                <label for="Nature" class="form-label"
                  >Nature of conduct (Briefly describe the misconduct/improper
                  activity and how you knew about it.)</label
                >
                <textarea class="form-control" id="Nature" rows="3"></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="mb-3">
                <label for="Remarks" class="form-label">Remarks</label>
                <input
                  type="text"
                  class="form-control"
                  id="Remarks"
                  placeholder=""
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="mb-3">
                <p>
                  <strong>
                    N.B: Be assured that this will remain
                    confidential/anonymous.
                  </strong>
                </p>
              </div>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-12 col-md-6">
              <button type="button" class="btn btn-lg btn-gold">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
