.cover-cove {
  position: relative;
  display: flex;
  flex-direction: column;
  // align-items: center;
  justify-content: center;
  padding-top: 45%;
  gap: 20px;

  span {
    color: #fff;
    font-size: 54px;
    font-weight: 600;
    line-height: 55px;
    letter-spacing: 0em;
    text-align: left;
  }
  small {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;
  }

  .roller-cove {
    width: fit-content;
  }
}
.btn-right {
  float: right;
}
.btn-blue {
  color: #fde428;
  font-size: 9.488px;
  font-style: normal;
  font-weight: 700;
  line-height: 13.555px;
  padding: 10.045px 42.19px;
  border-radius: 4.066px;
  background: #0800a5;
  box-shadow: 0px 0.677725076675415px 1.35545015335083px 0px rgba(0, 0, 0, 0.05);
}
.contact-form {
  border-radius: 12.199px;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 2.71090030670166px 27.78672981262207px 0px rgba(0, 0, 0, 0.1);
  padding: 30px 90px;

  form {
    padding: 0px 5px;

    textarea {
      resize: none;
    }
  }
}

.message {
  margin-bottom: 16px;
  h3 {
    color: #0800a5;
    font-family: Montserrat;
    font-size: 13.555px;
    font-style: normal;
    font-weight: 600;
    line-height: 13.555px;
    padding: 0px;
    margin: 0px;
  }
  small {
    color: var(--gray-500, #6b7280);
    font-family: Montserrat;
    font-size: 8.133px;
    font-style: normal;
    font-weight: 400;
    line-height: 13.555px;
    padding: 0px;
    margin: 0px;
  }
}

.branches {
  padding: 70px 0px;
}

.col-branches {
  margin-bottom: 28px !important;
}
label.btn-gray-blue {
  color: var(--gray-500, #667085);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  text-transform: capitalize;
}
input[type="radio"]:checked + label.btn-gray-blue {
  color: #0800a5;
  font-weight: 700;
}

.google-map {
  padding-top: 30%;
  //   position: relative;
}

.google-map iframe {
  width: 643px;
  height: 276px;
  //   left: 0;
  //   top: 0;
  //   position: absolute;
}
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 26px;
  padding-top: 5%;

  .list {
    border-radius: 8.887px;
    background: #fff;
    display: flex;
    padding: 18px 11px;
    align-items: center;
    flex-direction: row;
    gap: 23px;
    width: 70%;

    .list-des {
      h2 {
        color: #121212;
        font-family: Prompt;
        font-size: 15.996px;
        font-style: normal;
        font-weight: 500;
        line-height: 31.414px;
        text-align: start;
      }
      p {
        color: #4a4a4a;
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 160%;
      }
    }
    .list-des-small {
      h2 {
        color: #777;
        font-family: Montserrat;
        font-size: 13.33px;
        font-style: normal;
        font-weight: 500;
        line-height: 160%;
      }
      p {
        color: #4a4a4a;
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 160%;
      }
    }
  }
}

.blue-holder {
  width: 43.546px;
  height: 43.546px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0800a5;
}

// Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
  .cover-cove {
    padding-top: 45%;

    .roller-cove {
      width: auto;
    }
  }
  .contact-form {
    padding: 30px;

    form {
      padding: 0px 0px;
    }
  }
  .google-map {
    padding-top: 10%;
    //   position: relative;
  }
  .info {
    padding-top: 5%;
  }
  .google-map iframe {
    width: auto;
    height: 276px;
    //   left: 0;
    //   top: 0;
    //   position: absolute;
  }
}
