<app-header></app-header>
<section>
  <div
    class="jubomtron"
    style="
      background: url('../../assets/img/cover-who-we-are.svg') no-repeat center
        center;
      height: 79vh;
    "
  >
    <div class="container">
      <div class="row ps-0 ps-md-4">
        <div class="col-md-7 col-12">
          <div class="cover-cove">
            <span> Who we are </span>
            <small>We empower individuals and small businesses</small>
            <img
              src="../../assets/img/cover-upward.svg"
              class="roller-cove"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="text-center align-self-center py-5 my-auto">
    <h2 class="">
      <strong>About Addosser</strong>
    </h2>
  </div>
  <div class="container pb-5">
    <div class="row">
      <div class="col-12 col-md-6">
        <p class="about-us">
          Addosser Microfinance Bank is a leading Microfinance Bank in Nigeria
          that has been empowering businesses and individuals since its
          establishment in 2008. With a strong commitment to widening financial
          options for Micro, Small, and Medium Enterprises (MSMEs), we offer a
          comprehensive range of value-added products and services to cater to
          their specific needs.
          <br /><br />
          Over the past 15 years, our dedicated team of more than 300
          professionals has disbursed repeat loans exceeding N65 billion, making
          a significant impact on the growth and success of our customers. As
          one of the established Microfinance banks in Nigeria, we are proud to
          serve over 137,000 customers across the nation.
          <br /><br />
          At Addosser, we have structured our operations into three key business
          groups: Retail and Microenterprise Banking, SME Banking, and
          Specialized Products & Investments. Through these divisions, we
          provide tailored support to our customers, fostering strong
          relationships, and connecting them to a world of opportunities.
          <br />
          Our aim is to be acknowledged as a one stop shop for financial
          services pushing boundaries to increasing access to finance for MSMEs
          and individuals through our diverse business mix of Core banking,
          Fintech, and Insurance allowing us to offer a comprehensive suite of
          solutions to meet the evolving demands of our valued customers.
          <br /><br />
          At Addosser Microfinance Bank Limited, we are driven by our mission to
          create value, build relationships, and make a positive difference in
          the lives of our customers and the communities we serve. We believe
          that financial inclusion is essential for economic growth and
          development. We are proud to play a role in helping MSMEs grow and
          thrive, and in improving the living conditions of everyday people.
        </p>
      </div>
      <div class="col-12 col-md-6">
        <div class="addosser-bg">
          <img class="mfb img-fluid" src="../../assets/img/mfb.svg" alt="" />
          <img
            class="dot-pattern d-none d-md-block"
            src="../../assets/img/Dot-Pattern.svg"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="bg-cream pb-5">
    <div class="text-center align-self-center py-5 my-auto">
      <h2 class="">
        <strong>Our Philosophy</strong>
      </h2>
    </div>
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2">
        <div class="col">
          <div class="card card-shadow">
            <div class="card-body card-relative">
              <div class="blue-box">
                <img src="../../assets/img/eye-that-sees.svg" alt="" />
              </div>
              <h4>Our Vision</h4>
              <p>
                Improving the living conditions of everyday people through value
                added financial products and services.
              </p>
            </div>
            <div class="card-footer">Contact us →</div>
          </div>
        </div>
        <div class="col">
          <div class="card card-shadow">
            <div class="card-body card-relative">
              <div class="blue-box">
                <img src="../../assets/img/thurnder.svg" alt="" />
              </div>
              <h4>Our Mission</h4>
              <p>
                To provide innovative, quality and convenient microfinance
                services through a team of dedicated professionals for the
                benefit of all stakeholders.
              </p>
            </div>
            <div class="card-footer">Contact us →</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="text-center align-self-center py-5 my-auto">
    <h2 class="">
      <strong>Our Core values</strong>
    </h2>
  </div>
  <div class="container pb-5">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="all-list">
          <div class="list">
            <img src="../../assets/img/discipline.svg" alt="" />
            <div class="sub-list">
              <h4>Discipline</h4>
              <p>
                We adhere strictly to laid down regulations and policies so as
                to achieve orderliness and efficiency in delivering
                organizational goals.
              </p>
            </div>
          </div>
          <div class="list">
            <img src="../../assets/img/simplicity.svg" alt="" />
            <div class="sub-list">
              <h4>Simplicity</h4>
              <p>
                We are constantly seeking ways to make our processes simpler,
                avoiding complexities and improving customers’ experience.
              </p>
            </div>
          </div>
          <div class="list">
            <img src="../../assets/img/integrity.svg" alt="" />
            <div class="sub-list">
              <h4>Integrity</h4>
              <p>
                We will always keep our word and maintain the highest standards
                by honouring our commitment to all stakeholders.
              </p>
            </div>
          </div>
          <div class="list">
            <img src="../../assets/img/innovation.svg" alt="" />
            <div class="sub-list">
              <h4>Innovation</h4>
              <p>
                We are always thinking of ways to solve problems, improve our
                processes and develop better products and services to
                continually create unmatched value to our customers.
              </p>
            </div>
          </div>
          <div class="list">
            <img src="../../assets/img/transparency.svg" alt="" />
            <div class="sub-list">
              <h4>Transparency</h4>
              <p>
                We practice open communication internally and externally with
                unwavering honesty and respect.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="addosser-bg">
          <img
            class="mfb img-fluid"
            src="../../assets/img/core-values.svg"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <app-footer></app-footer>
</section>
