<app-header></app-header>
<section>
  <div
    class="jubomtron"
    style="
      background: url('../../assets/img/socials/social-impact.svg') no-repeat
        center center;
      height: 79vh;
    "
  >
    <div class="container">
      <div class="row ps-0 ps-md-4">
        <div class="col-md-7 col-12">
          <div class="cover-cove">
            <div class="impact">
              <h2>Social Impact</h2>
              <button class="btn btn-lg btn-gold">Download file</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container mt-5 mb-5">
    <div class="row">
      <div class="col-md-6 col-sm-12 order-1">
        <div class="subsid-img-content">
          <img
            src="../../assets/img/socials/socials1.png"
            class="img-fluid mx-auto"
            style="max-width: 100%"
          />
        </div>
      </div>
      <div class="col-md-6 col-sm-12 order-2">
        <div class="subsid-content">
          <p>
            We are deeply rooted in the communities we serve and are committed
            to making a difference to make the world a better place.  Through
            our various corporate social initiatives, we aim to create a
            positive impact, fostering sustainable development and improving the
            livelihoods of the communities we operate in.
          </p>
          <br />
          <p>
            Hence, our social impact framework is hinged on our 4E’s of
            Empowerment, Education, Environment and Engagement. These four
            tenets serve as our ethical compass towards achieving some of the
            Sustainable Development Goals (SDGs) for developing countries by the
            United Nations.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-cream">
  <div class="container mb-5">
    <div class="row">
      <div class="mb-5 mt-5">
        <p class="text-center e-title">4E’s</p>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
      <div class="col mb-3">
        <div class="card four-e-hight">
          <div class="card-body">
            <div class="four-e-struture">
              <img
                src="../../assets/img/socials/engagement.svg"
                class="img-fluid"
                alt=""
              />
              <h4 class="title">Engagement</h4>
              <p>
                We constantly engage people within the communities especially
                youths in the area of arts, sports and culture in-order to
                influence positive behavioral change.
              </p>
              <small>
                <strong> Learn more... </strong>
              </small>
            </div>
          </div>
        </div>
      </div>
      <div class="col mb-3">
        <div class="card four-e-hight">
          <div class="card-body">
            <div class="four-e-struture">
              <img
                src="../../assets/img/socials/education.svg"
                class="img-fluid"
                alt=""
              />
              <h4 class="title">Education</h4>
              <p>
                Through our capacity building program, advocacy campaign and
                girl-child education, we create opportunities for members of our
                communities to have a better future.
              </p>
              <small>
                <strong> Learn more... </strong>
              </small>
            </div>
          </div>
        </div>
      </div>
      <div class="col mb-3">
        <div class="card four-e-hight">
          <div class="card-body">
            <div class="four-e-struture">
              <img
                src="../../assets/img/socials/engagement.svg"
                class="img-fluid"
                alt=""
              />
              <h4 class="title">Environment</h4>
              <p>
                We protect our environment by providing access to finance for
                renewable energy and PET recycling. We help boost access to
                clean water and clean drainages to reduce flooding.
              </p>
              <small>
                <strong> Learn more... </strong>
              </small>
            </div>
          </div>
        </div>
      </div>
      <div class="col mb-3">
        <div class="card four-e-hight">
          <div class="card-body">
            <div class="four-e-struture">
              <img
                src="../../assets/img/socials/engagement (2).svg"
                class="img-fluid"
                alt=""
              />
              <h4 class="title">Engagement</h4>
              <p>
                We constantly engage people within the communities especially
                youths in the area of arts, sports and culture in-order to
                influence positive behavioral change.
              </p>
              <small>
                <strong> Learn more... </strong>
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container mb-5">
    <div class="row mb-3">
      <div class="col-md-8 col-sm-12 order-1">
        <img
          src="../../assets/img/socials/socials2.png"
          class="img-fluid"
          alt=""
        />
      </div>
      <div class="col-md-4 col-sm-12 order-2">
        <img
          src="../../assets/img/socials/socials3.png"
          class="img-fluid"
          alt=""
        />
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-8 col-sm-12 order-2">
        <img
          src="../../assets/img/socials/socials4.png"
          class="img-fluid"
          alt=""
        />
      </div>
      <div class="col-md-4 col-sm-12 order-1">
        <img
          src="../../assets/img/socials/socials5.png"
          class="img-fluid"
          alt=""
        />
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-8 col-sm-12 order-1">
        <img
          src="../../assets/img/socials/socials6.png"
          class="img-fluid"
          alt=""
        />
      </div>
      <div class="col-md-4 col-sm-12 order-2">
        <img
          src="../../assets/img/socials/socials7.png"
          class="img-fluid"
          alt=""
        />
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-8 col-sm-12 order-2">
        <img
          src="../../assets/img/socials/socials8.png"
          class="img-fluid"
          alt=""
        />
      </div>
      <div class="col-md-4 col-sm-12 order-1">
        <img
          src="../../assets/img/socials/socials9.png"
          class="img-fluid"
          alt=""
        />
      </div>
    </div>
  </div>
</section>

<footer>
  <app-footer></app-footer>
</footer>
