<section>
  <div
    style="
      background: url('../../../assets/img/Rectangle\ 4270.png') no-repeat center center;
      height: 50vh;
    "
    class="side-right"
  >
    <div class="text-center">
      <p>Addosser Microfinance Bank</p>
      <small>…serving to empower</small>
    </div>
  </div>
</section>

<section>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 .order-2 .order-md-1">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
            <div class="col text-center">
              <img
                src="../../../assets/img/Investment-logo.svg"
                class="img-fluid"
                alt=""
              />
            </div>
            <div class="col text-center">
              <img
                src="../../../assets/img/NITDA-Audit-Compliant.svg"
                class="img-fluid"
                alt=""
              />
            </div>
            <div class="col text-center">
              <img
                src="../../../assets/img/ndpr-audit.svg"
                class="img-fluid"
                alt=""
              />
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 .order-1 .order-md-2 audit">
          <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3">
            <div class="col text-center">
              <h4>Company</h4>
              <ul class="with-style">
                <li><a [routerLink]="['/who-we-are']" >About Us</a></li>
                <li><a [routerLink]="['/career']" >Careers</a></li>
                <!-- <li><a href="#">Blog</a></li> -->
              </ul>
            </div>
            <div class="col text-center">
              <h4>Products</h4>
              <ul class="with-style">
                <li><a href="#">Mydormot</a></li>
                <li><a [routerLink]="['/savings']" >Savings</a></li>
                <li><a [routerLink]="['/loan']" >Loan</a></li>
              </ul>
            </div>
            <div class="col text-center">
              <h4>Quick links</h4>
              <ul class="with-style">
                <li><a [routerLink]="['/policy']" >Privacy Policy</a></li>
                <li><a [routerLink]="['/whistle']" >Whistle Blowing</a></li>
                <!-- <li><a href="#">History</a></li> -->
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <!-- Footer -->
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="footer-copyright">
            <p>{{ year }} All Rights Reserved</p>
            <div class="soicals">
                <span>follow us:</span>
                <a href="#"><img src="../../../assets/img/Facebook.svg" alt=""></a>
                <a href="#"><img src="../../../assets/img/Instagram.svg" alt=""></a>
                <a href="#"><img src="../../../assets/img/YouTube.svg" alt=""></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</section>
