<app-header></app-header>
<section>
  <div
    class="jubomtron"
    style="
      background: url('../../assets/img/policy-bg.svg') no-repeat center center;
      height: 79vh;
    "
  >
    <div class="px-5">
      <div class="row ps-0 ps-md-4">
        <div class="col-md-10 col-12">
          <div class="cover-cove">
            <span> Privacy Policy </span>
            <img
              src="../../assets/img/cover-upward.svg"
              class="roller-cove"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <!-- privacy policy content -->
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="text-left align-self-center py-5 my-auto">
          <h2 class="">
            <strong>What is this Privacy Notice for?</strong>
          </h2>
        </div>
        <div class="py-5">
          Addosser Microfinance Bank Limited (jointly referred to in this
          document as ‘Addosser MFB’ or ‘the Company’, or ‘We’) is a financial
          institution license by the Central Bank of Nigeria (CBN). We value
          your Personal Data and are committed to protecting your privacy
          whenever you interact with us. Please read this Privacy Notice
          (Notice) to understand our policies, processes and procedures
          regarding the processing of your personal data.
          <br /><br /><br />
          <strong> Personal Data </strong>
          <br /><br />
          Under the NDPR/GDPR, personal data is defined as:
          <br /><br />
          “Any information relating to an identified or identifiable natural
          person (‘data subject’); an identifiable natural person is one who can
          be identified, directly or indirectly, in particular by reference to
          an identifier such as a name, an identification number, location data,
          an online identifier or to one or more factors specific to the
          physical, physiological, genetic, mental, economic, cultural or social
          identity of that natural person”.
          <br /><br />
          <strong> Who Is Responsible for Your Personal Data </strong>
          <br /><br />
          Addosser Microfinance Bank shall be responsible for processing your
          personal data described in this Privacy Policy as your data
          controller. We use the personal data such as (bio data, Telephone
          Identification information etc.)provided to communicate with you in
          response to your enquiries, to provide the services you request, and
          to manage your account in line with regulators provisions. Any
          personal data gathered by us will be used for these purposes only.
          <br /><br />
          We will not disclose or divulge such data outside of, other than to
          third party providers that assist us in providing the services. does
          not share, sell, rent or trade personally identifiable information
          with third parties for their promotional purposes.
          <br /><br />
          <strong> Why Addosser MFB collect and store personal data? </strong>
          <br /><br />
          Addosser MFB collects your personal data In order to provide you with
          the required banking service. When you sign up for any of the banks
          product (on line or other service that requires registration, personal
          information such as your name, email address and account password are
          required. We use the information you submit under your account to
          provide you customer centric service. We are committed to ensuring
          that the information we collect are used appropriately for the purpose
          they were collected, and does not constitute an invasion of your
          privacy.In terms of being contacted for marketing purposes Addosser
          MFB shall contact you for additional consent.
          <br /><br />
          <strong>
            Will Addosser MFB share my personal data with anyone else?
          </strong>
          <br /><br />
          <i>
            Your personal information shall only be shared with other companies
            or individuals in the following limited circumstances:
          </i>
          <ul>
            <li>
              If, we have your consent as required for the sharing of any
              sensitive personal information
            </li>
            <li>
              We provide such information to our subsidiaries, affiliated
              companies or other trusted businesses or persons for the purpose
              of processing personal information on our behalf. We require that
              these parties agree to process such information based on our
              instructions and in compliance with the General Data Protection
              Regulation and the Nigeria Data Protection Regulation and any
              other appropriate confidentiality and security measures. When they
              no longer need your data to fulfil this service, they will dispose
              of the details in line with Addosser MFB procedures.
            </li>
            <li>
              We have a good faith belief that access, use, preservation or
              disclosure of such information is reasonably necessary to (a)
              satisfy any applicable law, regulation, legal process or
              enforceable governmental request, (b) enforce applicable Terms of
              Service, including investigation of potential violations thereof,
              (c) detect, prevent, or otherwise address fraud, security or
              technical issues, or (d) protect against imminent harm to the
              rights, property or safety of Addosser MFB , its users or the
              public as required or permitted by law.
            </li>
            <li>
              If Addosser MFB becomes involved in a merger, acquisition, or any
              form of sale of some or all of its assets, we will provide notice
              before personal information is transferred and becomes subject to
              a different privacy policy.
            </li>
          </ul>
          <br /><br />
          <strong>
            How will Addosser MFB use the personal data it collects about me?
          </strong>
          <br /><br />
          Addosser MFB will process (collect, store and use) the information you
          provide in a manner compatible with the Nigeria Data Protection
          Regulation (NDPR). We review our data collection, storage and
          processing practices to ensure that we only collect, store and process
          the personal information needed to provide or improve our services. We
          will endeavour to keep your information accurate and up to date, and
          not keep it for longer than is necessary, but we depend on our users
          to update or correct their personal information whenever necessary.
          Addosser MFB is required to retain information in accordance with the
          law, such as information needed for income tax and audit purposes. How
          long certain kinds of personal data should be kept may also be
          governed by specific business-sector requirements and agreed
          practices. Personal data may be held in addition to these periods
          depending on individual business needs.
          <br /><br />
          <i>
            Addosser MFB only processes personal information for the purposes as
            described in our Privacy Policy and/or the supplementary privacy
            notices for specific services. In addition to the above, such
            purposes include:
          </i>
          <ul>
            <li>
              Providing our services to users, including the display of
              customized content;
            </li>
            <li>
              Auditing, research and analysis in order to maintain, protect and
              improve our services;
            </li>
            <li>Ensuring the technical functioning of our network; and</li>
            <li>Developing new services.</li>
          </ul>
          <br /><br />
          We process personal information by referring to the supplementary
          privacy notices for particular services.
          <br /><br />
          Log informationWhen you access Addosser MFB, our server automatically
          record information that your browser sends whenever you visit a
          website.
          <br /><br />
          User communicationsWhen you send email or other communications to
          Addosser MFB, we may retain those communications in order to process
          your inquiries, respond to your requests and improve our services.
          Retention of data shall be in line with the banks retention policy
          <br /><br />
          Affiliated sitesWe offer some of our services in connection with other
          web sites e.g. Websites of our subsidiaries. Personal information that
          you provide to those sites may be sent to Addosser MFB in order to
          deliver the service. We process such information in accordance with
          this Privacy Policy. The affiliated sites may have different privacy
          practices and we encourage you to read their privacy policies.
          <br /><br />
          <strong>
            Under what circumstances will Addosser MFB contact me?
          </strong>
          <br /><br />
          Our aim is not to be intrusive, and we undertake not to ask irrelevant
          or unnecessary questions. Moreover, the information you provide will
          be subject to rigorous measures and procedures to minimize the risk of
          unauthorized access or disclosure.
          <br /><br />
          <strong>
            Can I find out the personal data that Addosser MFB holds about me?
          </strong>
          <br /><br />
          <i>
            Addosser MFB at your request, can confirm what information we hold
            about you and how it is processed. If Addosser MFB does hold
            personal data about you, you can request the following information:
          </i>
          <ul>
            <li>
              Contact details of the data protection officer, where applicable.
            </li>
            <li>
              The purpose of the processing as well as the legal basis for
              processing.
            </li>
            <li>
              If the processing is based on the legitimate interests of Addosser
              MFB or a third party, information about those interests.
            </li>
            <li>
              The categories of personal data collected, stored and processed.
            </li>
            <li>
              Recipient(s) or categories of recipients that the data is/will be
              disclosed to.
            </li>
            <li>
              If we intend to transfer the personal data to a third party or
              international organization, information about how we ensure this
              is done securely. The Attorney General of the Federation will
              approve sending personal data to some countries because they meet
              a minimum standard of data protection. In other cases, we will
              ensure there are specific measures in place to secure your
              information.
            </li>
            <li>How long the data will be stored.</li>
            <li>
              Details of your rights to correct, erase, restrict or object to
              such processing.
            </li>
            <li>
              Information about your right to withdraw consent at any time.
            </li>
            <li>
              How to lodge a complaint with the supervisory authority (NITDA).
            </li>
            <li>
              Whether the provision of personal data is a statutory or
              contractual requirement, or a requirement necessary to enter into
              a contract, as well as whether you are obliged to provide the
              personal data and the possible consequences of failing to provide
              such data.
            </li>
            <li>
              The source of personal data if it wasn’t collected directly from
              you.
            </li>
            <li>
              Any details and information of automated decision making, such as
              profiling, and any meaningful information about the logic
              involved, as well as the significance and expected consequences of
              such processing.
            </li>
          </ul>
          <br /><br />
          <strong>
            What forms of ID will I need to provide in order to access this?
          </strong>
          <br /><br />
          Addosser MFB accepts the following forms of ID (but not limited to)
          when information on your personal data is requested: International
          Passport, driving license, national identity card, permanent voter
          card.
          <br /><br />
          <strong>More information</strong>
          <br /><br />
          Please do not hesitate to get in touch with us via the contact page on
          our website if you have any questions or queries regarding our privacy
          policy.
          <br /><br />
          To contact our Data Protection Officer, kindly address your request to
          “The Data Protection Officer” at 32, Lewis Street, Lagos Island, Lagos
          State, Nigeria or send an
          <a style="color: inherit" href="mailto:dpo@addosser.com"
            >email:dpo@addosser.com</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
